.container-section {
  margin-top: 20px;
}

.container-section h2 {
  margin-bottom: 0;
}

.social-media-container {
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-evenly;
}
