<div mat-dialog-content>
  <div id="container">
    <form [formGroup]="formGroup" (ngSubmit)="confirmPassword()">
      <img [src]="randomImageSrc" alt=""><br>
      <h1>Please confirm your password to continue</h1>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix class="white-icon">lock_outline</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="confirmation">
        <mat-error>{{ ErrorUtils.getError("confirmation", formGroup.get("confirmation").errors) }}</mat-error>
      </mat-form-field>
      <button autofocus mat-button type="submit" #confirm>Confirm</button>
    </form>
  </div>
</div>
