<div mat-dialog-content id="container">
    <img [ngSrc]="image" alt="" width="100" height="100">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-icon matPrefix>person</mat-icon>
            <mat-label>Username</mat-label>
            <input matInput
                   formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   formControlName="password">
        </mat-form-field>
    </form>
    <button mat-button
            type="submit"
            (click)="signIn()">
        Sign in
    </button>
    <p (click)="authService.signUp(); dialogRef.close();">Create account</p>
</div>
