form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fields-container {
  width: auto;
  display: flex;
  @media screen and ( min-width: 767px )  {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and ( max-width: 767px )  {
    flex-direction: column;
    width: 70%;
  }
}

mat-form-field {
  align-self: center;
  margin-top: 10px;
  width: 100%;
  @media screen and ( min-width: 767px )  {
    width: 45%;
  }
}

.edit-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
