<div class="center-container">
  <form *ngIf="formGroup && account" [formGroup]="formGroup" (ngSubmit)="update(null, null)">
    <h1 class="title">Profile</h1>

    <div class="fields-container">
      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matPrefix class="white-icon">person_outline</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput
               placeholder=""
               value=''
               formControlName="username">
        <mat-error>{{ ErrorUtils.getError("username", formGroup.get("username").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matPrefix class="white-icon">lock_outline</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="" formControlName="password">
        <mat-error>{{ ErrorUtils.getError("password", formGroup.get("password").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matPrefix class="white-icon">label_outline</mat-icon>
        <mat-label>First name</mat-label>
        <input matInput placeholder="" value="" formControlName="firstName">
        <mat-error>{{ ErrorUtils.getError("firstName", formGroup.get("firstName").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matPrefix class="white-icon">label_outline</mat-icon>
        <mat-label>Last name</mat-label>
        <input matInput placeholder="" value="" formControlName="lastName">
        <mat-error>{{ ErrorUtils.getError("lastName", formGroup.get("lastName").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" panelClass="transparent-blur">
          <mat-option value="MALE">Male</mat-option>
          <mat-option value="FEMALE">Female</mat-option>
          <mat-option value="OTHER">Other</mat-option>
        </mat-select>
        <mat-error>{{ ErrorUtils.getError("gender", formGroup.get("gender").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon class="white-icon">calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker panelClass="dark-background"></mat-datepicker>
        <mat-error>{{ ErrorUtils.getError("dateOfBirth", formGroup.get("dateOfBirth").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matPrefix class="white-icon">mail_outline</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput placeholder="" value="" formControlName="email">
        <mat-error>{{ ErrorUtils.getError("email", formGroup.get("email").errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="white-field">
        <mat-icon matSuffix class="white-icon">phone</mat-icon>
        <mat-label>Phone number</mat-label>
        <ngx-mat-intl-tel-input
          [preferredCountries]="['md', 'ro']"
          [enablePlaceholder]="true"
          [enableSearch]="true"
          name="phone"
          describedBy="phoneInput"
          formControlName="phoneNumber"
        ></ngx-mat-intl-tel-input>
        <mat-error>{{ ErrorUtils.getError("phoneNumber", formGroup.get("phoneNumber").errors) }}</mat-error>
      </mat-form-field>

      <div *ngIf="formGroup?.disabled" class="button-container">
        <button mat-button (click)="done()" class="white-button">Done</button>
        <button mat-button (click)="edit(true)" class="white-button">Edit</button>
      </div>
      <div *ngIf="formGroup?.enabled" class="button-container">
        <button mat-button (click)="edit(false)" class="white-button">Cancel</button>
        <button mat-button class="white-button" type="submit" [disabled]="!isFormChanged()">Save</button>
      </div>
    </div>
  </form>
</div>
