<header class="main-header">
  <div class="logo">
    <a [routerLink]="" (click)="navigate('')">TECHSHOP</a>
  </div>

  <ul *ngIf="!mobile" class="nav-links">
    <li class="nav-link" *ngFor="let route of getRoutes()">
      <a [routerLink]="" (click)='navigate(navRoutes.get(route))'>{{ route }}</a>
    </li>
    <li class="nav-link">
      <a [matMenuTriggerFor]="productMenu">Products</a>
    </li>
    <li *ngIf="!authService.getToken()" class="nav-link">
      <a [routerLink]="" (click)="authService.openLoginDialog()">Sign in</a>
    </li>
    <li *ngIf="!authService.getToken()" class="nav-link">
      <a [routerLink]="" (click)="authService.openRegisterDialog()">Sign up</a>
    </li>
    <li *ngIf="authService.getToken()" class="nav-link">
      <a [matMenuTriggerFor]="accountMenu">Hi, {{ username }}</a>
    </li>
  </ul>

  <button mat-icon-button *ngIf="mobile" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #productMenu="matMenu" xPosition="after" yPosition="above" class="transparent-blur">
    <button mat-menu-item (click)="navigate('laptops')">Laptops</button>
  </mat-menu>

  <mat-menu #menu="matMenu" xPosition="before" class="transparent-blur">
    <button mat-menu-item *ngFor="let route of getRoutes()" (click)='navigate(navRoutes.get(route))'>{{ route }}</button>
    <button mat-menu-item [matMenuTriggerFor]="productMenu">Products</button>
    <button mat-menu-item *ngIf="authService.getToken()" [matMenuTriggerFor]="accountMenu">Hi, {{ username }}</button>
    <button mat-menu-item *ngIf="!authService.getToken()" (click)="authService.openLoginDialog()">Sign in</button>
    <button mat-menu-item *ngIf="!authService.getToken()" (click)="authService.openRegisterDialog()">Sign up</button>
  </mat-menu>

  <mat-menu #accountMenu="matMenu" xPosition="before" yPosition="above" class="transparent-blur">
    <button mat-menu-item (click)="router.navigate(['profile'])">Profile</button>
    <button mat-menu-item>Orders</button>
    <button mat-menu-item>Wishes</button>
<!--    <button mat-menu-item>Recommendations</button>-->
    <button mat-menu-item (click)="authService.signOut()">Sign out</button>
  </mat-menu>

</header>
