.main-div mat-card {
  padding: 0;
}

.register-form {
  padding: 20px;
}

.gender-field {
  background-color: var(--mdc-filled-text-field-container-color);
  border-radius: var(--mdc-filled-text-field-container-shape) var(--mdc-filled-text-field-container-shape) 0 0;
  padding: 12px 12px 0 12px;
}

.gender-field
mat-label {
  font-family: var(--mdc-filled-text-field-label-text-font);
  font-size: var(--mdc-filled-text-field-label-text-size);
  font-weight: var(--mdc-filled-text-field-label-text-weight);
  letter-spacing: var(--mdc-filled-text-field-label-text-tracking);
}

.field
mat-error {
  font-family: var(--mat-form-field-subscript-text-font);
  line-height: var(--mat-form-field-subscript-text-line-height);
  font-size: var(--mat-form-field-subscript-text-size);
  letter-spacing: var(--mat-form-field-subscript-text-tracking);
  font-weight: var(--mat-form-field-subscript-text-weight);
  padding: 0 16px 0 16px;
}

.gender-field
mat-radio-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  margin: 0 -12px 0 -12px;
  width: calc(100% + 24px);
  font-size: 14px;
}

.gender-field
mat-radio-group
mat-radio-button {
  flex: 1 1 auto;
  text-align: center;
}

:host
::ng-deep
.gender-field
mat-radio-group mat-radio-button
.mdc-form-field
.mdc-radio {
  display: none;
}

:host ::ng-deep .gender-field mat-radio-group mat-radio-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

:host
::ng-deep
.gender-field
mat-radio-group
mat-radio-button
.mdc-form-field
.mdc-label {
  font-family: var(--mat-form-field-container-text-font);
  line-height: var(--mat-form-field-container-text-line-height);
  font-size: var(--mat-form-field-container-text-size);
  letter-spacing: var(--mat-form-field-container-text-tracking);
  font-weight: var(--mat-form-field-container-text-weight);
}

.selected-radio-button {
  background-color: #fff;
  font-weight: 600;
}

:host
::ng-deep
ngx-mat-intl-tel-input
.ngx-mat-tel-input-container
.country-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 7px;
}
