$container-color: rgba(5, 13, 25, 0.569);
$sub-container-color: rgba(255, 255, 255, 0.05);

$dark-background-color: #171c24;

$primary-color: #303F9F;

$header-height: 65px;
$full-page-container: calc(100vh - $header-height);
